/* Utilities */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.padding-40b {
  padding: 0 0 40px 0;
}
.padding-40t {
  padding: 40px 0 0 0;
}
.margin-7b {
  margin-bottom: 7px;
}
.margin-7t {
  margin-top: 7px;
}
.hide {
  visibility: hidden;
}
.requried::after {
  content: " *";
  color: red;
}
ul li {
  list-style: none;
  cursor: default;
}

span {
  color: red;
}
/* Utilities */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #a8b1ec;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin: 20px;
  padding: 0;
}
.application {
  background-color: #ffff;
  width: 600px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.application .top {
  text-align: center;
  border-bottom: 1px solid #dfe0e8;
  padding: 25px 0;
}
.application .top .main-title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 30px;
}
.application .top .sub-title {
  text-transform: capitalize;
  font-size: 15px;
  padding: 5px 0 0 0;
}
.application .middle {
  padding: 15px 35px 0 35px;
}

.application .middle .input-group {
  display: flex;
  justify-content: space-between;
}
.application .middle .input-group label,
.current-city label,
.radio label {
  display: block;
}
.application .middle .input-group label.first,
.radio label.first,
.current-city label.first,
label.fi-first,
.upload-resume label.fi-first {
  padding: 0 0 7px 4px;
  font-size: 14px;
  font-weight: 700;
  color: #2d2d2ddd;
}
.application .middle .input-group label.last {
  padding: 7px 0 0 4px;
  color: #7c7c7c;
  font-size: 10px;
}

.application .middle .input-group input,
.current-city select,
.current-date input,
.selected-date input {
  width: 225px;
  height: 30px;
  padding: 0 25px 0 7px;
  border-radius: 4px;
  border: 1px solid gray;
  font-size: 15px;
}
.application .middle .input-group input:focus,
select:focus {
  outline: none;
}
.application .middle input[type="date"] {
  text-transform: uppercase;
}
.application .radio .radio-wrap input {
  position: relative;
  top: 2px;
}
::placeholder,
input[type="date"] {
  color: #a8b7c0;
}
.pref-date {
  display: flex;
  box-sizing: border-box;
}
.set-date {
  border: 1px solid #c3cad8;
  border-radius: 4px;
  max-width: 258px;
  width: 100%;
  margin-right: 10px;
}
.current-date input,
.selected-date input,
select {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: default;
}
.pref-date .month-year {
  display: flex;
}
.pref-date .month-year select {
  border-top: 1px solid #c3cad8;
  border-bottom: 1px solid #c3cad8;
  width: calc(258px / 2);
  height: 40px;
  appearance: none;
  font-size: 15px;
  padding-left: 4px;
}
.pref-date .month-year .year {
  border-left: 1px solid #c3cad8;
}
.calender ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0 0 10px 0;
}
.calender ul.weeks {
  width: 100%;
  color: #4166cd;
  background-color: #4166cd2c;
  text-transform: uppercase;
  padding: 10px 0;
}
.calender li {
  width: calc(100% / 7);
  font-size: 14px;
}

.calender .days li {
  margin: 11px 0;
}
.selected-date input {
  font-size: 15px;
  padding: 0;
  position: relative;
  bottom: 5px;
}
.selected-date label.fi-first {
  padding: 0;
}
.timings {
  display: flex;
  flex-wrap: wrap;
}
.timings div {
  text-align: center;
  width: calc(40%);
  border: 1px solid #486cee;
  color: #486cee;
  padding: 7px 8px;
  margin: 7px 0;
  margin-right: 7px;
  border-radius: 7px;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.timings div:hover {
  background-color: #8aa2e43f;
}
.timings .set-timings.active {
  background-color: #0105f5;
  color: white;
}
.upload-resume .drop-box {
  text-align: center;
  border: 2px dashed rgba(128, 128, 128, 0.398);
  height: 120px;
  transition: 0.3s;
  border-radius: 4px;
}
.upload-resume .drop-box {
  font-size: 12px;
}
.upload-resume .drop-box h2,
.upload-resume .drop-box h3 {
  padding: 0;
  margin: 0;
}
.upload-resume .drop-box h3 {
  color: grey;
  font-weight: 500;
}
.bottom {
  border-top: 1px solid #dfe0e8;
  text-align: center;
  padding: 30px 0;
}
.bottom button {
  padding: 12px 50px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
}
.bottom button#apply {
  background-image: linear-gradient(
    180deg,
    rgb(27, 0, 181),
    rgba(97, 90, 189, 0.73)
  );
}
.bottom button#reset {
  background-image: linear-gradient(
    180deg,
    rgb(0, 17, 79),
    rgba(16, 12, 41, 0.73)
  );
}

.month,
.year {
  display: flex;
  position: relative;
}
.prenxt {
  position: absolute;
  top: 5px;
  right: 0;
}
.prenxt i {
  display: block;
  padding-top: 1px;
  opacity: 0.3;
  padding-bottom: 1px;
  padding-right: 8px;
  transition: 0.4s;
}
.prenxt i:hover {
  opacity: 1;
}
.current-date {
  display: flex;
  position: relative;
  align-items: center;
}
.current-date i {
  font-size: 16px;
  opacity: 0.7;
  padding-right: 8px;
}
.selected-date-title {
  display: flex;
  position: relative;
}
.selected-date .prenxt-hor {
  position: absolute;
  right: 25px;
  bottom: 0px;
  font-size: 15px;
}
.selected-date .prenxt-hor i {
  padding: 5px 7px;
  opacity: 0.5;
  background-color: rgba(128, 128, 128, 0.509);
  border-radius: 100%;
  transition: 0.3s;
}
.selected-date .prenxt-hor i:hover {
  opacity: 0.8;
}
.drop-box i {
  padding: 15px 0;
  font-size: 30px;
  color: #b3bccd;
}
.drop-box.active {
  border: 2px dashed black;
}
input.active {
  border-color: red;
  box-shadow: 0 0 5px 1px red;
}
input.check {
  border-color: rgb(9, 190, 9);
  box-shadow: 0 0 2px 1px rgb(9, 190, 9);
}
.input-field .hidden-text {
  display: none;
  transition: 0.5s;
  position: relative;
  color: white;
  width: 95%;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 5px;
  background-color: red;
}
.input-field .hidden-text i {
  position: relative;
  top: 3px;
  font-size: 16px;
  padding: 0 5px 0 0;
}
.input-field .hidden-text::after {
  position: absolute;
  content: "";
  bottom: 100%;
  right: 15px;
  border: 15px solid;
  border-color: #0000 #0000 red #0000;
}
.wrapper {
  position: relative;
}
.input-field i.checked-input {
  position: absolute;
  z-index: 2;
  display: none;
  transition: 0.3s;
  font-size: 17px;
  top: 6px;
  right: 6px;
  color: rgb(9, 190, 9);
}
.days li {
  z-index: 1;
  /* padding: 4px 0; */
  position: relative;
}
.calender ul.days li::before {
  content: "";
  z-index: -1;
  width: 34px;
  height: 34px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.calender ul.days li:hover::before,
.calender ul.days li.active-date::before {
  border: 1px solid #486cee;
}
.calender ul.days li.todays-date::before {
  background: #486cee;
}
.calender ul.days li.in-active,
.calender ul.days li.in-active::before {
  color: transparent;
  border-color: transparent;
}
.calender ul.days li.in-active-date {
  color: rgba(154, 149, 149, 0.626);
}
.popup {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.popup .popup-box {
  box-shadow: 0 0 0 100vw rgba(21, 21, 21, 0.945);
  border-radius: 5px;
  min-width: 550px;
  max-width: 650px;
  background-color: white;
  box-sizing: border-box;
  padding: 0 20px;
  position: absolute;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.popup .popup-box div {
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.popup .popup-box .top-bar {
  display: flex;
  justify-content: end;
  padding-bottom: 0px;
}
.popup .popup-box .top-bar .close {
  border-radius: 5px;
  width: 20px;
  padding-bottom: 0px;
  color: black;
  font-size: 40px;
  position: relative;
  left: 20px;
}
.popup .popup-box .top-bar .close label:hover {
  font-weight: bold;
  cursor: pointer;
  color: black;
}
.popup .popup-box .title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(69, 69, 69);
  padding-top: 0px;
}
.popup .popup-box .matter {
  text-align: justify;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.771);
}
.popup .popup-box .bottom-bar {
  text-align: end;
}
.popup .popup-box .bottom-bar button {
  border-radius: 4px;
  margin-right: 10px;
  padding: 12px 25px;
  margin-bottom: 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.popup .popup-box .bottom-bar button:last-child {
  margin-right: 0px;
}
.popup .popup-box .bottom-bar .okey {
  background-color: rgba(62, 225, 62, 0.623);
}
.popup .popup-box .bottom-bar .okey:hover {
  background-color: rgba(62, 225, 62, 0.881);
  box-shadow: 0 0 5px 0 rgba(62, 225, 62, 0.881);
  transform: scale(1.05);
}
